@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

.hero-bg {
  height: 100vh;
  width: 100%;
  background: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 40px;
}

.form-bg {
  width: 550px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.border-form {
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #3f51b5;
}

.tdee-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.col-1 {
  width: 45%;
}
.col-2 {
  width: 45%;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

input {
  padding: 6px 12px;
  background: #fff;
  color: black;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

#options {
  padding: 6px 12px;
  background: #fff;
  color: black;
  width: 100%;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.radio-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.radio-image {
  display: inline-block;
  width: 100%;
  height: 100px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
}

.radio-input {
  display: none;
}

.radio-input:checked + .radio-image {
  background: #d8cdf5;
  border-color: #3f51b5;
  box-shadow: 0 0 10px rgba(63, 81, 181, 0.5);
}

.radio-image:hover {
  background: #d8cdf5;
  border-color: #3f51b5;
  box-shadow: 0 0 10px rgba(63, 81, 181, 0.5);
}

label img {
  padding: 20px;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.btn-result {
  background-color: #3f51b5;
  border: 2px solid #3f51b5;
  padding: 6px 12px;
  outline: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-reset {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid red;
  padding: 6px 12px;
  outline: none;
  font-weight: 700;
  text-transform: uppercase;
  color: red;
  border-radius: 4px;
}
