@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url(hero.css);
@import url(limitations.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

body {
  background: #c9d6ff;
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.container {
  padding: 40px;
  max-width: 1300px;
  margin: 0 auto;
}
